@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* --- 1. CONSTANTES DE DISEÑO Y VISTAS --- */

  /* Colores personalizados */
  --color-teal: #00bfa5;
  --color-orange: #ff8c00;
  --color-blue: #0047ab;

  /* Texto principal */
  --color-text-principal: var(--color-blue);
  --color-text-accent: var(--color-teal);
  --color-text-action: var(--color-orange);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  ----color-teal: var(--color-teal);
  --color-orange-action: var(--color-orange);
  --color-blue-principal: var(--color-blue);
  --color-principal-text: var(--color-text-principal);
  --color-accent-text: var(--color-text-accent);
  --color-action-text: var(--color-text-action);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
