@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* --- 1. CONSTANTES DE DISEÑO Y VISTAS --- */

  /* Colores personalizados */
  --color-teal: #00bfa5;
  --color-orange: #ff8c00;
  --color-blue: #0047ab;

  /* colores para el formulario de contacto */
  --color-contact-form-background: #1e0851; /* Dark Background */
  --color-contact-form-acento: #ff8c36; /* Vibrant Orange */
  --font-familia-contact-form: "Inter", sans-serif;

  /* Texto principal */
  --color-text-principal: var(--color-blue);
  --color-text-accent: var(--color-teal);
  --color-text-action: var(--color-orange);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  ----color-teal: var(--color-teal);
  --color-orange-action: var(--color-orange);
  --color-blue-principal: var(--color-blue);
  --color-principal-text: var(--color-text-principal);
  --color-accent-text: var(--color-text-accent);
  --color-action-text: var(--color-text-action);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  margin: 0;
  padding: 0;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.admin-layout-container {
  @apply flex flex-col h-screen w-screen;
}

.admin-children-container {
  @apply bg-white p-6 overflow-y-auto flex-grow sm:col-span-3 lg:col-span-4;
}
.admin-header {
  @apply text-white p-4 h-16 flex items-center shadow-lg bg-primary;
}
.admin-sidebar {
  @apply bg-white p-4 h-full absolute inset-y-0 left-0 w-64 z-40 lg:translate-x-0 md:translate-x-0 transition-transform duration-300 ease-in-out  sm:relative sm:w-auto sm:z-auto sm:col-span-1 sm:block sm:transform-none;
}

.background-contact-form {
  @apply max-w-xl mx-auto  p-8 md:p-10 rounded-xl shadow-2xl  bg-[var(--color-contact-form-background)];
}

.contact-form-title {
  @apply text-3xl font-extrabold mb-6 text-center text-[var(--color-contact-form-acento)];
}

.input-contact-form {
  @apply w-full px-4 py-2 mb-4 rounded-md border border-[var(--color-contact-form-acento)] focus:border-[var(--color-contact-form-acento)] focus:ring-2 focus:ring-[var(--color-contact-form-acento)] focus:outline-none text-white;
}

.label-contact-form {
  @apply block mb-2  font-[var(--font-familia-contact-form)] text-[var(--color-contact-form-acento)];
}

.button-contact-form {
  @apply w-full h-12 bg-[var(--color-contact-form-acento)] text-[var(--font-familia-contact-form)] font-bold py-3 px-6 rounded-md hover:bg-[var(--color-contact-form-acento)]/90 transition duration-300;
}
